html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    max-height: 1000000px;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

button:link,
button:focus,
button:visited,
button:hover,
button:active {

	outline: none;
	border:0;
}